body {
    color:rgb(54, 3, 24);
    background-image:  url(https://i.pinimg.com/736x/2e/0a/6b/2e0a6ba1c2ad50f50d09816a91c10d3a.jpg);
}
a {
    text-decoration: none;
}

section {
    background-image:  url(https://i.pinimg.com/736x/2e/0a/6b/2e0a6ba1c2ad50f50d09816a91c10d3a.jpg);
}